body {
  font-family: 'PingFang SC';
  margin: 0;
  background-color: #f7f9fb;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 50%);
  background-clip: content-box;
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
}

.ant-form-item .ant-form-item-explain-error {
  font-size: 12px;
}

.ant-table-cell {
  vertical-align: top;
}
